entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Streamlit App"

[[workflows.workflow]]
name = "Streamlit App"
author = 12207098
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run streamlit_app.py --server.address=0.0.0.0 --server.port=5000"
